<div class="custom-content">
    <form class="project-form">
        <div class="field custom-field">
            <label class="label">Project Name *</label>
            <div class="control has-icons-left
                      has-icons-right">
                <input required id="project-name" class="input" type="text" placeholder="My Cool Project" />
                <span class="icon is-left">
                    <i class="fa-solid fa-diagram-project"></i>
                </span>
            </div>
        </div>
        <div class="field custom-field">
            <label class="label">Description *</label>
            <div class="control">
                <textarea required id="project-name" class="textarea"
                    placeholder="What do you want other creators to know about this project?"></textarea>
            </div>
        </div>

        <div class="field custom-field">
            <div class="control">
                <button id="btn" class="button custom-btn" type="submit">
                    <strong>Create Project</strong>
                </button>
            </div>
        </div>
    </form>
</div>
</div>
</div>