<form>
  <section class="field">
    <label for="email-input" class="label"></label>
    <section class="control">
      <input type="email" name="email-input" id="email-input" class="input">
    </section>
  </section>

  <section class="field">
    <label for="password-input" class="label"></label>
    <section class="control">
      <input type="password" name="password-input" id="password-input" class="input">
    </section>
  </section>

  <section class="field">
    <p class="control">
      <button type="submit" class="button is-success"></button>
    </p>
  </section>
</form>
