<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="custom-container column is-5-tablet is-4-desktop is-4-widescreen">
        <div class="card">
          <form class="box custom-content login-form">
            <section class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input 
                type="email" 
                id="email-login"
                placeholder="bob.dylan@gmail.com" 
                class="input" 
                required
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </section>
            <section class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input 
                type="password" 
                id="password-login"
                placeholder="(must be 8+ chars)" 
                class="input"
                minlength="8" 
                required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </section>
            {{!-- <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
               Remember me
              </label>
            </div> --}}
            <section class="field">
              <section class="control">
                <button class="button custom-btn">
                  <strong>Log In</strong>
                </button>
              </section>
            </section>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>
