<form class="signup-form">
  <section class="field is-grouped">
    <section class="control">
      <input type="text" class="input" placeholder="First Name">
    </section>
    
    <section class="control">
      <input type="text" class="input" placeholder="Last Name">
    </section>
  </section>

  <section class="field">
    <section class="control">
      <input type="email" name="" id="" class="input" placeholder="Email">
    </section>
  </section>

  <section class="field">
    <section class="control">
      <input type="password" name="" id="" class="input" placeholder="Password">
    </section>
  </section>

  <section class="field">
    <p class="control">
      <button type="submit" class="button is-success"></button>
    </p>
  </section>
</form>
