<div class="custom-form">
<div class="container custom-container column is-5-tablet is-4-desktop is-4-widescreen">
 <div class="card">
  <div class="custom-content">
    <h1 class="title has-text-centered">
       New Account
    </h1>
    <form class="signup-form">
        <div class="field custom-field">
            <label class="label">First Name *</label>
            <div class="control has-icons-left
                      has-icons-right">
                <input 
                required
                class="input" 
                id="firstName-signup"
                type="text"
                placeholder="Bob"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field custom-field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left
                      has-icons-right">
                <input 
                class="input" 
                id="lastName-signup"
                type="text" 
                placeholder="Dylan"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field custom-field">
            <label class="label">Email *</label>
            <div class="control has-icons-left
                      has-icons-right">
                <input 
                class="input" 
                id="email-signup"
                type="email" 
                placeholder="bob.dylan@gmail.com" 
                required/>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field custom-field">
            <label class="label">Password *</label>
            <div class="control has-icons-left
                      has-icons-right">
                <input 
                class="input" 
                type="password" 
                id="password-signup"
                placeholder="(must be 8+ chars)" 
                minlength="8"
                required />
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>
        <div class="field custom-field">
            <label class="label">Retype Password *</label>
            <div class="control has-icons-left
                      has-icons-right">
                <input 
                class="input" 
                type="password" 
                id="passCheck-signup"
                placeholder="(must be 8+ chars)" 
                minlength="8"
                required />
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>
        {{!-- Future Dev: select interests --}}
        {{!-- <div class="field">
            <label class="label">
                Current Interests
            </label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Pop</option>
                        <option>Jazz</option>
                        <option>R&B</option>
                        <option>Rap</option>
                        <option>Country</option>
                        <option>Folk</option>
                        <option>Indie</option>
                        <option>Rock</option>
                        <option>Blues</option>
                        <option>Metal</option>
                        <option>Classical</option>
                        <option>Video Games</option>
                        <option>Movie/TV scores</option>
                    </select>
                </div>
            </div>
        </div> --}}

        <div class="field custom-field">
            <label class="label">
                Bio
            </label>
            <div class="control">
                <textarea 
                class="textarea" 
                id="bio-signup"
                placeholder="Tell us about yourself! (You can change or update this later)"></textarea>
            </div>
        </div>

        <div class="field custom-field">
            <div class="control">
                <button id="btn" class="button custom-btn">
                    <strong>Sign Up</strong>
                </button>
            </div>
        </div>
    </form>
  </div>
 </div>
</div>
</div>

<script src="./js/signup.js"></script>
