/* theme colors & fonts */
:root {
  /* font */
  --ff1: "Lora", sans-serif;
  --ff2: "Six Caps", sans-serif;
  --ff3: "Open Sans", sans-serif;
  --ff4: "Poppins", sans-serif;
  --ff5: "Montserrat", "san-serif"
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  /* lines */
  --line-2: 0.2rem;
  --line-4: 1.25rem;
  --radius: 0.5rem;
  --radius2: 0.25rem;
  /* bg and surface */
  --col-bg: #16144C;
  --col-bg-2: #1c1630;
  --col-surface: #2F0D7A;
  --col-surface2: #3C2A91;
  /* primary light */
  --col-p-1: #D9D7FA;
  --col-p-2: #bb9af7;
  --col-p-3: #9b9ef7;
  --col-p-4: #494094;
  --col-p-5: #656090;
  --col-p-6: #b3aeda; 
  /* blacks */
  --col-grey: #b3badb;
  --col-grey-dark: #211d2a;
  --col-black: #1a1b26;
}
/* custom ids */
#custom-nav {
    background-color: var(--col-p-5);
    /* border-bottom: var(--col-grey-dark);
    border-width: 3px; */
}
#custom-container-grid {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
	grid-gap: 1em;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--col-grey-dark);
}
#icon {
    font-size: 48px;
    padding-left: 2px;
}
#btn {
    margin-bottom: 10px;
}
 /* custom classes */
.card-grid{
	height: max-content;
    padding: 10px;
    /* border-width: 10px; */
    background-color: var(--col-p-5);
    margin-bottom: 20px;
}
.card {
    height: max-content;
    padding: 10px;
    /* border-width: 10px; */
    background-color: var(--col-p-5);
}
.logo {
    font-family: var(--ff3);
    font-weight: 700;
    font-size: 60px;
    color: var(--col-bg-2);
    text-shadow: 5px 0px 3px var(--col-p-2);
    padding-left: 10px;
  }
.custom-about {
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    border-top: 6px solid var(--col-p-2);
    background-color: var(--col-p-6);
}
.custom-about img {
    height: 170px;
    width: 170px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
    border: 5px solid transparent;
    box-shadow: 0 0 0 4px var(--col-p-2);
}
.custom-main {
    background-color: var(--col-bg-2);
    padding-top: 10px
    /* border-top: 5px var(--col-p-2); */
    /* border-top: var(--col-grey-dark);
    border-width: 3px; */
}
.custom-main-prof {
    background-color: var(--col-bg-2);
    padding-top: 20px;
}
.custom-container {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--col-grey-dark);
}
.custom-content {
    background-color: var(--col-grey);
    border-radius: 5px;
}
.custom-txt {
    font-family: var(--ff5);
    color: var(--col-grey-dark);
  }
.custom-txt-nav {
    font-family: var(--ff5);
    color: var(--col-p-6);
    size: 40px;
    padding-top: 100%;
    /* border-top: 5px var(--col-p-2); */
}
.custom-txt-header {
    font-size: 45px;
    font-family: var(--ff1);
    color: var(--col-p-2);
    padding-top: 8px;
    /* text-shadow: 5px 0px 3px var(--col-p-5); */
}
.custom-form {
    padding-top: 30px;
}
.custom-field {
    padding-left: 10px;
    padding-right: 10px;
}
.custom-btn {
    background-color: var(--col-p-2);
    border-color: var(--col-p-2);
    font-family: var(--ff5);
}
.custom-btn:hover {
    border-color: var(--col-bg-2);
}
.custom-btn-light {
    background-color: var(--col-p-6);
    border-color: var(--col-p-6);
}
.custom-btn-light:hover {
    border-color: var(--col-bg-2);
}
.custom-txt {
    font-family: var(--ff3);
    color: var(--col-p-4);
}






*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font: normal 16px/1.5 "Helvetica Neue", sans-serif; */
  /* background: #456990; */
  /* color: #fff; */
  overflow-x: hidden;
  /* padding-bottom: 50px; */
}


/* TIMLINE
INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .intro {
  background: #f45b69;
  padding: 100px 0;
} */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  /* background: var(--col-grey-dark); */
  padding: 50px 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--col-p-2);
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: var(--col-grey);
}
.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}
/* same as lines 239-243? */
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}
time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}
.timeline ul li.in-view::after {
  background: var(--col-grey);
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}
/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.timeline-rhombus ul li div::before {
  bottom: 12px;
}
.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}
.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}
@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}
.page-footer a {
  display: flex;
  margin-left: 4px;
}
