:root {
    /* font */
    --ff1: "Lora", sans-serif;
    --ff2: "Six Caps", sans-serif;
    --ff3: "Open Sans", sans-serif;
    --ff4: "Poppins", sans-serif;
    --ff5: "Montserrat", "san-serif"
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    /* lines */
    --line-2: 0.2rem;
    --line-4: 1.25rem;
    --radius: 0.5rem;
    --radius2: 0.25rem;
    /* bg and surface */
    --col-bg: #16144C;
    --col-bg-2: #1c1630;
    --col-surface: #2F0D7A;
    --col-surface2: #3C2A91;
    /* primary light */
    --col-p-1: #D9D7FA;
    --col-p-2: #bb9af7;
    --col-p-3: #9b9ef7;
    --col-p-4: #494094;
    --col-p-5: #656090;
    --col-p-6: #b3aeda; 
    /* blacks */
    --col-grey: #b3badb;
    --col-grey-dark: #211d2a;
    --col-black: #1a1b26;
  }
#custom-nav {
    background-color: var(--col-p-5);
    /* border-bottom: var(--col-grey-dark);
    border-width: 3px; */
}
.custom-main {
    background-color: var(--col-bg-2);
    /* border-top: var(--col-grey-dark);
    border-width: 3px; */
}
#custom-container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
	grid-gap: 1em;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--col-grey-dark);
}
#icon {
    font-size: 48px;
    padding-left: 2px;
}
.card{
	height: max-content;
    padding: 10px;
    /* border-width: 10px; */
    background-color: var(--col-p-5);
    margin-bottom: 20px;
}
.logo {
    font-family: var(--ff3);
    font-weight: 700;
    font-size: 60px;
    color: var(--col-bg-2);
    text-shadow: 5px 0px 3px var(--col-p-2);
    padding-left: 10px;
  }
.custom-content {
    background-color: var(--col-grey);
}
.custom-txt-nav {
    font-family: var(--ff5);
    color: var(--col-p-6);
    size: 40px;
    padding-top: 100%;
}
.custom-txt {
    font-family: var(--ff5);
    color: var(--col-grey-dark);
  }
.custom-txt-header {
    font-size: 50px;
    font-family: var(--ff1);
    color: var(--col-p-2);
    text-shadow: 5px 0px 3px var(--col-p-5);
}
.custom-btn {
    background-color: var(--col-p-2);
    border-color: var(--col-p-2);
    font-family: var(--ff5);
}
.custom-btn:hover {
    border-color: var(--col-bg-2);
}
.custom-btn-light {
    background-color: var(--col-p-6);
    border-color: var(--col-p-6);
}
.custom-btn-light:hover {
    border-color: var(--col-bg-2);
}